            /*micro interactie button lees verder */
        
        a {
            font-family: "Nexa Light";
            background-color: #ff3268;
            padding: 0.5em;
            border-radius: 1em;
            color: white;
            text-decoration: none;
            box-shadow: inset 0 -.1875em .0625em #ca2b55;
            box-sizing: border-box;
        }
        
        a:hover {
            background-color: #ff658e;
        }
        
        a:active {
            background-color: #ff3268;
            box-shadow: inset 0 .125em .0625em #ca2b55;
        }
        
        a:hover span {
            display: none;
        }
        
        a:hover:before {
            content: "Lees verder >";
        }
        /* Micro interactie drop down menu mijn account */
        
        nav {
            margin-top: 5em;
            display: block;
/*            width: 50%*/
        }

        
        .account {
            font-family: "Nexa Bold";
            background-color: #00D66C;
            padding: 0.5em 10em 0.5em 10em;
            border-radius: 1em;
            color: white;
            text-decoration: none;
            box-shadow: inset 0 -.1875em .0625em #00ff81;
            box-sizing: border-box;
            font-size: 1em;
            border-style: none;
            margin: auto;
        }
        
        .account:active {
            background-color: rgb(2, 175, 89);
            box-shadow: inset 0 .125em .0625em #00ff81;
        }
        
        ul {
            display: none;
/*            transition: all 5s ease-in;*/
        }
        
        ul.active {
            display: block;
            background-color: antiquewhite;
            width: 38%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            box-sizing: border-box;
/*            margin: auto;*/
            margin-top:0;
            transform: rotateY(10%);
        }
        
        li {
            list-style-type: none;
            margin: auto;
            margin-top: 1em;
        }
        
        fieldset {
            border-style: none;
            font-family: sans-serif;
        }
        
        fieldset input {
            display: block;
            margin: 1em;
            background-color: white;
            border-style: none;
            width: 80%;
            height: 2em;
        }
        
        label {
            display: block;
        }
        
        li .facebook {
            border-style: none;
            background-color: blue;
            color: white;
            font-size: 1em;
            border-radius: 1em;
            display: block;
            padding: 0.5em 5em;
        }
        
        li .google {
            border-style: none;
            background-color: red;
            color: white;
            font-size: 1em;
            border-radius: 1em;
            display: block;
            padding: 0.5em 5em;